
@{
    ViewBag.Title = "Exclusao";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Exclusao de Funcionário</h4>
<a href="/Funcionario/Consulta">Voltar para a consulta</a>
<hr />

<div class="row">
    <div class="col-md-4">
        <div class="alert alert-danger">
            <strong>@TempData["Mensagem"]</strong>
        </div>
    </div>
</div>
