
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Seja bem-vindo ao Sistema</h4>
<hr />

Escolha a opção desejada:
<br />

<ul>
    <li><a href="/Funcionario/Cadastro">Cadastro de Funcionários</a></li>
    <li><a href="/Funcionario/Consulta">Consulta de Funcionários</a></li>
</ul>


